.Reg {
    display: inline-block;
    margin-top: 93px;
    padding: 60px 79px 55px;
    background: white;
    border-radius: 15px;
}

.buttons{
    display: flex;
    margin-top: 55px;

}
#all{
    width: 100%;
    text-align: center;
}

header {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
    border-bottom: 1px solid black;
    background: #D7F4CB;
    height: 55px;
}

.inputs {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
}

.button {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    width: 172px;
    height: 34px;

}

input{
    margin-bottom: 10px;
    height: 33px;
    width: 350px;
    font-size: 25px;
}

button {
    width: 173px;
    background: #D7F4CB;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 29px;
}

#login{
    margin-bottom: 10px;
}

#password{
    margin-bottom: 10px;
}
#confirmpassword{
    margin-bottom: 10px;
}